li{
   list-style: none;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}

h1{
   padding: 0px 0px 0px 0px;
   margin: 0px 0px 0px 0px;
}
a{
   text-decoration: none;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}
ul{
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}
p{
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}
body{
   max-width: 1440px;
   font-family: "Montserrat", sans-serif;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   color: #333333;
   ;
}

.header {
   border-bottom: 1px solid #EFF2F2;
   height: 73px;
}
.container {
   padding: 0px 120px;
}
.navigaciya {
   display: flex;
   font-family: "Montserrat";
   font-size: 14px;
   font-weight: 500;
   line-height: 15.96px;
   letter-spacing: 0.25px;
   text-align: center;
   align-items: center;
}
.navigaciya__logo {
   margin: 0px 0px 0px 0px;
}

.spisak-nazvaniya{
   color: #333333;
}


.navigaciya__navigaciya {
   margin: 0px 164px 0px 51px;
}
.navigaciya__spisak {
   display: flex;
   align-items: center;
   justify-items: center;
}
.spisak {
   padding: 0px 30px 0px 0px;
}
.spisak-img {
   padding: 0px 30px 0px 8px;
}
.navigaciya__button {
   font-family: "Montserrat";
   font-size: 16px;
   font-weight: 700;
   line-height: 19.5px;
   text-align: center;
   color: #03B2A5;
   background-color: #E3F5F5;
   border-radius: 4px;
   border: none;
   padding: 14px 20px;
   margin: 14px 0px 0px 0px;
}

/*-----------------------------------------------------Zagolovok-------------------------------------------*/



.main__zagolovok {
   padding: 16px 0px 0px 6px;
   display: flex;
}
.main__zagolovok-silka {
   font-size: 12px;
   font-weight: 400;
   line-height: 18px;
   letter-spacing: 0.25px;
   text-align: center;
   padding: 0px 4px 0px 0px;
   color: #333333B2;
   ;
}
.main__zagolovok-strelka {
   padding: 0px 0px 8px 0px;
}

.main__zagolovok-blog {
   padding: 30px 0px 32px 0px;
   margin: 0px 0px 0px 0px;
}

.zagolovok-blog-razmer {
   font-size: 48px;
   font-weight: 700;
   line-height: 56px;
   text-align: left;
   margin: 0px 0px 0px 0px;
}

/*-----------------------------------------------------Silki nabistriy perehod-------------------------------------------*/



.main__silka-na-bistriy-perehod {
   font-size: 14px;
   font-weight: 600;
   line-height: 20px;
   text-align: left;
   display: flex;
   align-items: center;
}
.silka-na-bistriy-perehod-block {
   display: flex;
   padding: 6px 8px;
   margin: 0px 8px 0px 0px;
   border: 1px solid #C1C5CD;
   border-radius: 24px;
}
.silka-na-bistriy-perehod-block-img {
   padding: 0px 4px 0px 0px;
}
.silka-na-bistriy-perehod-block-silka {
   color: #333333;
}
.silka-na-bistriy-perehod-block-1 {
   display: flex;
   padding: 6px 8px;
   margin: 0px 8px 0px 0px;
   border: 2px solid #16C8BB;
   border-radius: 24px;
}
.silka-na-bistriy-perehod-block-2 {
   display: flex;
   padding: 6px 8px;
   margin: 0px 8px 0px 0px;
   border: 1px solid #C1C5CD;
   border-radius: 24px;
}

/*-----------------------------------------------------Block content 1-------------------------------------------*/



.main__content-block{
   display: flex;
   gap: 24px;
}

.main__content-block-1 {
   padding: 23px 0px 0px 0px;
   display: flex;
}
.main__content-block-1-left {
   border: 1px solid  #C1C5CD;
   max-width: 588px;
   max-height: 499px;
   border-radius: 24px;
}

.left-bistriy-gththod {
   position: absolute;
}
.left-bistriy-gththod-spisak {
   display: flex;
   padding: 6px 8px;
   margin: 8px 0px 0px 8px;
   border-radius: 24px;
   opacity: 80%;
   color: #333333;
   border: 1px solid #C1C5CD;
   background-color: #C1C5CD;
}
.left-bistriy-gththod-spisak-1 {
   display: flex;
   padding: 6px 8px;
   margin: 8px 0px 0px 8px;
   border-radius: 24px;
   color: #333333;
   max-width:50px;
   max-height: 32px;
   text-align: center;
   border: 1px solid #C1C5CD;
   background-color: #C1C5CD;
   opacity: 80%;

}

.gththod-spisak-smail{
      width: 261px;
   height: 32px;
      background-color: #C1C5CD;
   border: 1px solid #C1C5CD;
      opacity: 70%;
   position: absolute;
}
.left-bistriy-gththod-spisak-smail {
   padding: 0px 4px 0px 0px;


}
.left-bistriy-gththod-spisak-nazvanie {
   color: #333333;
   font-size: 14px;
   font-weight: 600;
   line-height: 20px;
   text-align: left;
   
}
.left-img {
   border-radius: 24px 24px 0px 0px;
   max-width: 588px;
}

.content-block-1-left-content {
   max-width: 588px;
   max-height: 240px;
   margin: 0px 0px 0px 0px;
}
.left-content {
   margin: 16px;
}

.left-content-zagolovok-razmer {
   margin: 0px 0px 0px 0px;
   font-size: 18px;
   font-weight: 700;
   line-height: 26px;
   text-align: left;
   padding: 0px 0px 4px 0px;
}

.left-content-avtor-razmer {
   font-size: 12px;
   font-weight: 400;
   line-height: 18px;
   letter-spacing: 0.25px;
   text-align: left;
   padding: 0px 0px 8px 0px;
}

.left-content-opisanie-razmer {
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   text-align: left;
   margin: 0px 0px 68px 0px;
}
.left-content-opisanie-razmer-1 {
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   text-align: left;
   margin: 0px 0px 94px 0px;
}

.left-content-data-razmer {
   font-size: 12px;
   font-weight: 400;
   line-height: 18px;
   letter-spacing: 0.25px;
   text-align: left;
   color: #868686;
}


/*-----------------------------------------------------Block content 2-------------------------------------------*/



.main__content-block-2 {
   padding: 24px 0px 0px 0px;
   display: flex;
   gap: 24px;
}
.content-block-2-block {
   max-width: 384px;
   max-height: 475px;
   border: 1px solid #DEDEDE;
   border-radius: 16px;
}

.block-2-block-img-perehod {
   position: absolute;
   padding: 8px 0px 0px 8px;
}
.block-img-perehod {
   padding: 6px 8px 6px 8px;
   margin: 0px 0px 8px 0px;
   border: 1px solid #C1C5CD;
   background-color: #C1C5CD;
   border-radius: 24px;
   display: flex;
   opacity: 80%;
}
.block-img-perehod-1 {
   padding: 6px 8px 6px 8px;
   margin: 0px 0px 8px 0px;
   border: 1px solid #C1C5CD;
   background-color: #C1C5CD;
   border-radius: 24px;
   display: flex;
   max-width: 197px;
   max-height: 32px;
   opacity: 80%;
}
.block-img-perehod-2 {
   padding: 6px 8px 6px 8px;
   margin: 0px 0px 8px 0px;
   border: 1px solid #C1C5CD;
   background-color: #C1C5CD;
   border-radius: 24px;
   display: flex;
   max-width: 67px;
   max-height: 32px;
   opacity: 80%;
}
.block-img-perehod-img {
   padding: 0px 4px 0px 0px;
}
.block-img-perehod-silka {
   font-size: 14px;
   font-weight: 600;
   line-height: 20px;
   text-align: left;
   color: #333333;
}
.block-2-block-img-1 {
   border-radius: 16px 16px 0px 0px;
}
.content-block-2-block-content {
   padding: 16px;
}

.block-content-zagolovik {
   padding: 0px 0px 0px 0px;
   margin: 0px 0px 0px 0px;
}
.block-content-zagolovik-razmer {
   padding: 0px 0px 0px 0px;
   margin: 0px 0px 4px 0px;
   font-family: Montserrat;
   font-size: 18px;
   font-weight: 700;
   line-height: 26px;
   text-align: left;
   color: #333333;
}

.block-content-avtor-razmer{
   padding: 0px 0px 0px 0px;
   margin: 0px 0px 8px 0px;
   font-size: 12px;
   font-weight: 400;
   line-height: 18px;
   letter-spacing: 0.25px;
   text-align: left;
   color: #333333;
}

.block-content-content-razmer {
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   text-align: left;
   padding: 0px 0px 0px 0px;
   margin: 0px 0px 16px 0px;
   color: #333333;
}

.block-content-content-razmer-1 {
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   text-align: left;
   padding: 0px 0px 0px 0px;
   margin: 0px 0px 24px 0px;
   color: #333333;
}



.block-content-data-razmer {
   padding: 0px 0px 0px 0px;
   margin: 0px 0px 0px 0px;
   font-size: 12px;
   font-weight: 400;
   line-height: 18px;
   letter-spacing: 0.25px;
   text-align: left;
   color: #333333;
}

/*-----------------------------------------------------Footer-------------------------------------------*/


.main__knopka {
   text-align: center;
   padding-top: 35px;
}
.main__knopka-razmer {

   background-color: #35B3A9;
   border: none;
   border-radius: 4px 4px 4px 4px;
   width: 182px;
   height: 48px;
   top: 1837px;
   left: 629px;
   padding: 12px 16px 12px 16px;
   gap: 8px;
}
.main__knopka-razmer-silka{
   color: #fff;
   font-size: 16px;
   font-weight: 700;
   line-height: 24px;
   text-align: center;
   
}



.footer {
   background-color: #2963A3;
   max-width: 1440px;
   max-height: 302px;
   margin: 96px 0px 0px 0px;
   padding-bottom: 17px;
}

.block-content {
   padding: 40px 0px 24px 0px;
   display: flex;
   max-height: 320px;
}
.block-content-bistriy-silka {
   display: flex;
   padding: 0px 91.5px 0px 0px;
}
.bistriy-silka-blok-1 {
   padding: 0px 93px 0px 0px;

}

.silka-blok-1-spisak-razmer {
   margin: 0px 0px 16px 0px;
}
.silka-block-1-spisak-nazvaniya {
   font-size: 16px;
   font-weight: 700;
   line-height: 24px;
   text-align: left;
   color: #FFFFFF;
   margin: 0px 0px 16px 0px;
}
.silka-block-1-spisak-nazvaniya-1 {
   font-size: 16px;
   font-weight: 700;
   line-height: 24px;
   text-align: left;
   color: #FFFFFF;
}



.block-content-otpravka-mail {
   max-width: 486px;
   margin: 0px 125.5px 0px 0px;
}
.otpravka-mail {
   max-width: 384px;
}
.otpravka-mail-zagolovok {
   margin: 0px 0px 8px 0px;
}
.otpravka-mail-zagolovok-razmer {
   padding: 0px 0px 0px 0px;
   margin: 0px 0px 0px 0px;
   font-size: 18px;
   font-weight: 700;
   line-height: 26px;
   text-align: left;
   color: #fff;
}
.otpravka-mail-otpravka {
   max-width: 384px;
   max-height: 48px;
   padding: 14px 169px 14px 16px;
   border-radius: 4px;
   border: none;
}
.otpravka-mail-content {
   margin: 8px 0px 0px 0px;
}
.otpravka-mail-content-razmer {
   font-size: 12px;
   font-weight: 400;
   line-height: 18px;
   letter-spacing: 0.25px;
   text-align: left;
   color: #fff;
   opacity: 70%;
}

.otpravka-mail-zapolnenie-img {
   display: flex;
}

.otpravka-mail-zapolnenie-knopka {
   background-color: #16C8BB;
   padding: 0px 0px 0px 0px;
   border: none;
}
.otpravka-mail-zapolnenie-knopka-img {
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   width: 19.46px;
   height: 21.31px;
   top: 13.35px;
   left: 23px;
   gap: 0px;
   opacity: 0px;
   
}
.otpravka-mail-zapolnenie-img-1{
   border: 1px solid #16C8BB;
   background-color: #16C8BB;
   width: 40px;
   display: flex;
   align-items: center;
   padding-left: 20px;
   border-radius: 4px;
   margin-left: -34px;
}


.bistriy-logo-1 {
   text-align: center;
}

.logo-2 {
   margin: 0px 0px 12.02px 8.16px;
}
.logo-3 {
   margin: 0px 16px 0px 0px;
}
.logo-4 {
   margin: 0px;
}
.bistriy-logo-2 {
   margin: 40px 0px 0px 0px;
}


.block-content-polosa {
   border: 1px solid #9D9D9D;
   background-color: #9D9D9D;
   width: 1200px;
   margin: 0px 0px 16px 0px;
}

.block-content-yr-doument{
   margin: 0px 0px 17px 0px;
}

.block-content-yr-doument-silka {
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   text-align: left;
   margin: 0px 48px 0px 0px;
   color: #FFFFFF;
   opacity: 70%;
}
.silka-na-bistriy-perehod-block-2 {
      display: flex;
      padding: 6px 8px;
      margin: 0px 8px 0px 0px;
      border: 1px solid #C1C5CD;
      border-radius: 24px;
}
.main__silka-na-bistriy-perehod-768px{
   display: none;
   
}

.content-block-2-block-2{
   max-width: 352px;
   max-height: 475px;
   border: 1px solid #DEDEDE;
   border-radius: 16px;
}

.block-2-block-img-1 {
   border-radius: 16px 16px 0px 0px;
   width: 383px;
   height: 234px;
}
.content-block-2-block-2 {
   max-width: 382px;
}

.main__content-block-1-left {
   border: 1px solid #C1C5CD;
   max-width: 588px;
   max-height: 600px;
}
.main__content-block-2 {
   padding: 24px 0px 0px 0px;
   display: grid;
   gap: 24px;
   grid-template-columns: 385px 385px 385px;
}

.navigaciya__navigaciya {
   margin: 0px 142px 0px 51px;
}
.main__silka-na-bistriy-perehod {
   display: flex;
   align-items: center;
}
.main__silka-na-bistriy-perehod-1{
   display: flex;
   align-items: center;
}
.main__silka-na-bistriy-perehod-2{
   display: flex;
   align-items: center;
}
.main__silka-na-bistriy-perehod-420px{
   display: none;
}
.block-content-polosa-1{
   margin-top: -6px;
}


@media (max-width:1024px) {
   .container {
      padding: 0px 32px;
   }
   .spisak {
      padding: 0px 16px 0px 0px;
   }
   .navigaciya__navigaciya {
      margin: 0px 20px 0px 32px;
   }
   .spisak-img {
      padding: 0px 16px 0px 8px;
   }
   .main__zagolovok-blog {
      padding: 40px 0px 32px 0px;
   }
   .main__silka-na-bistriy-perehod {
      display: grid;
      align-items: center;
   }
   .main__silka-na-bistriy-perehod-1{
      display: flex;
      align-items: center;
   }
   .main__silka-na-bistriy-perehod-2{
      display: flex;
      align-items: center;
   }
   .silka-na-bistriy-perehod-block-1 {
      padding: 6px 4px;
      margin-bottom: 8px;
   }
   .silka-na-bistriy-perehod-block-2 {
      display: flex;
      padding: 6px 8px;
      margin: 0px 8px 8px 0px;
      border: 1px solid #C1C5CD;
      border-radius: 24px;
      max-width: 132px;
   }
   .silka-na-bistriy-perehod-block {
      margin: 0px 8px 8px 0px;
      padding-left: 5px;
      text-align: center;
      display: flex;
      justify-content: center;
   }
   .silka-na-bistriy-perehod-block-3 {
      margin: 0px 8px 8px 0px;
      padding-left: 5px;
      display: flex;
      justify-content: start;
   }
   .main__silka-na-bistriy-perehod-420px{
      display: none;
   }
   .main__content-block-1-left {
      border: 1px solid #C1C5CD;
      max-width: 468px;
      max-height: 499px;
   }
   .left-img {
      border-radius: 24px 24px 0px 0px;
      max-width: 469px;
   }
   .left-content-opisanie-razmer {
      margin: 0px 0px 35px 0px;
   }
   .left-content-opisanie-razmer-1 {
      margin: 0px 0px 44px 0px;
   }
   .block-2-block-img-1 {
      width: 304px;
   }
   .content-block-2-block {
      max-width: 304px;
      max-height: 500px;
   }
   .main__content-block-2 {
      grid-template-columns: 306px 304px 385px;
      grid-template-rows: 500px 500px;
   }
   .block-content-polosa {
      width: 960px;
   }
   .block-content-bistriy-silka {
      display: flex;
      padding: 0px 21px 0px 0px;
   }
   .bistriy-silka-blok-1 {
      padding: 0px 30px 0px 0px;
   }
   .block-content-otpravka-mail {
      max-width: 486px;
      margin: 0px 21px 0px 0px;
   }
   .bistriy-logo-1 {
      display: flex;
      align-items: center;
   }
   .block-content-polosa-1{
      margin-top: -6px;
   }
}


@media (max-width:764px) {
   .header {
      display: flex;
      align-items: center;
   }
   .navigaciya__navigaciya {
   display: none;
   }
   .navigaciya__button {
      display: block;
      cursor: pointer;
      position: relative;
      border: none;
      background: transparent;
      width: 18px;
      height: 9.8px;
      color: #FFFFFF;
      margin-left: 630px;
      margin-bottom: 17px;
   }
   .navigaciya__button::before,
   .navigaciya__button::after {
      content: '';
      left: 0;
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 10px;
      background: #03B2A5;

   }
   .navigaciya__button::before {
      top: 0;
      box-shadow: 0 11px 0 #03B2A5;
      transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
   }
   .navigaciya__button::after {
      bottom: 0;
      transition: bottom .3s .15s, transform .3s;
   }
   .navigaciya__button.active::before {
      top: 11px;
      transform: rotate(45deg);
      box-shadow: 0 6px 0 rgba(0,0,0,0);
      transition: box-shadow .15s, top .3s, transform .3s .15s;
   }
   .navigaciya__button.active::after {
      bottom: 11px;
      transform: rotate(-45deg);
      transition: bottom .3s, transform .3s .15s;
   }
   .navigaciya__navigaciya {
      margin: 0px 605px 0px 32px;
   }
   .container {
      padding: 0px 20px;
   }
   .main__zagolovok-blog {
      padding: 32px 0px 24px 0px;
   }
   .main__silka-na-bistriy-perehod-768px {
      display: grid;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      text-align: left;
      color: #333333;
   }
   .main__silka-na-bistriy-perehod-768px-block-1 {
      display: flex;
      align-items: center;
   }
   .main__silka-na-bistriy-perehod-768px-block-2 {
      display: flex;
      align-items: center;
   }
   .main__silka-na-bistriy-perehod{
      display: none;
   }
   .silka-na-bistriy-perehod-block-2 {
      max-width: 132px;

   }
   .silka-na-bistriy-perehod-block-silka-2{
      color: #333333;
   }
   .main__silka-na-bistriy-perehod-420px{
      display: none;
   }
   .main__content-block {
      display: block;
   }
   .main__content-block-1-left {
      max-width: 728px;
      max-height: 599px;
   }
   .left-img {
      border-radius: 24px 24px 0px 0px;
      max-width: 728px;
   }
   .left-content-opisanie-razmer {
      margin: 0px 0px 20px 0px;
   }
   .main__content-block-2 {
      grid-template-columns: 351px 352px;
   }
   .block-2-block-img-1 {
      width: 352px;
   }
   .content-block-2-block {
   max-width: 356px;
   max-height: 478px;
   }
   .footer {
   max-height: 454px;
   }
   .block-content-polosa {
      width: 728px;
      margin-top: 26px;
   }
      .block-content {
      padding: 40px 0px 24px 0px;
      display: grid;
      max-height: 320px;
      grid-template-rows: 178px 196px;
      grid-template-columns: 287px 426px;
      }
   .block-content-bistriy-logo {
      margin-top: 26px;
   }
   .main__content-block-2 {
   grid-template-columns: 351px 352px;
   grid-template-rows: 480px;
}
.block-content-polosa-1{
   margin-top: -6px;
}
}




@media (max-width:420px) {
   .header {
      display: flex;
      align-items: center;
   }
   .navigaciya__navigaciya {
   display: none;
   }
   .navigaciya__button {
      margin-left: 259px;
      margin-bottom: 17px;
   }
   .container {
      padding: 0px 24px;
   }
   .main__zagolovok {
   padding: 24px 0px 0px 6px;
   display: flex;
   }
   .main__silka-na-bistriy-perehod-768px{
      display: none;
      align-items: center;
   }
   .main__silka-na-bistriy-perehod-420px {
      display: flex;
      align-items: center;
      overflow-x: scroll;
      margin-top: -9px;
   }
   .main__silka-na-bistriy-perehod-420px-block-1 {
      display: grid;
      align-items: center;
      grid-template-columns: 77px 244px 77px;
   }
   .main__silka-na-bistriy-perehod-420px-block-2 {
      display: grid;
      align-items: center;
      grid-template-columns: 158px 86px 123px;
   }
   .main__silka-na-bistriy-perehod-420px-block-3 {
      display: grid;
      align-items: center;
      grid-template-columns: 180px 90px 333px;
   }

   .silka-na-bistriy-perehod-block-silka {
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      text-align: left;
      color: #333333;
   }
   
 
   .silka-na-bistriy-perehod-block-2 {
      display: flex;
      padding: 6px 8px;
      margin: 0px 8px 8px 0px;
      border: 1px solid #C1C5CD;
      border-radius: 24px;
      max-width: 132px;
   }
   
   .silka-na-bistriy-perehod-block-silka-2 {
      font-size: 14px;
   font-weight: 600;
   line-height: 20px;
   text-align: left;
   color: #333333;
   }
   .container-1{
      padding: 0px 3px 0px 20px;
   }
   .main__silka-na-bistriy-perehod-420px::-webkit-scrollbar{
      display: none;
   }
   .zagolovok-blog-razmer {
      font-size: 32px;
   }
   .left-img {
      max-width: 370px;
   }
      .main__content-block-1-left {
         max-width: 374px;
         max-height: 466px;
      }
      .main__content-block-2 {
         grid-template-columns: 374px;
   }
   .block-2-block-img-1 {
      width: 374px;
   }
   .content-block-2-block {
      max-width: 374px;
   }
   .block-content-content-razmer {
      margin: 0px 0px 39px 0px;
   }
   .footer {
      max-height: 746px;
   }
   .block-content-polosa {
      width: 374px;
      margin-top: 26px;
   }
   .block-content {
      padding: 40px 0px 24px 0px;
      display: grid;
      max-height: 320px;
      grid-template-rows: 200px 178px 400px;
      grid-template-columns: 395px;
   }
   .footer {
      max-height: 859px;
      padding-bottom: 0px;
   }
   .block-content {
      padding: 35px 0px 24px 0px;
   }
   .bistriy-silka-blok-1 {
      padding: 0px 153px 0px 0px;
   }
   .block-content-polosa-1{
      margin-top: 190px;
   }
   .bistriy-logo-2 {
      margin: 20px 0px 0px 0px;
   }
   .block-content-yr-doument {
      margin: 0px 0px 17px 0px;
      display: grid;
   }
   .block-content-yr-doument-silka {
      margin: 0px 48px 20px 0px;
   }

}


@media (max-width:320px) {
   .navigaciya__button {
      margin-left: 208px;
      margin-bottom: 17px;
   }
   .main__zagolovok-blog {
      padding: 24px 0px 24px 0px;
      margin: 0px 0px 0px 0px;
   }
   .main__zagolovok-blog {
      padding: 24px 0px 24px 0px;
   }
   .container-1 {
      padding: 0px 0px 0px 16px;
   }
   .container {
      padding: 0px 19px 0px 16px;
   }
   .zagolovok-blog-razmer {
      font-size: 24px;
   }
   .main__silka-na-bistriy-perehod-420px {
      margin-top: 0px;
   }
   .left-img {
      max-width: 288px;
   }
   .left-content {
   max-width: 588px;
   max-height: 240px;
   margin: 0px 0px 60px 0px;
   }
   .content-block-1-left-content {
      max-width: 588px;
      max-height: 240px;
      margin: 16px 16px 69px 16px;
   }
  .left-content-opisanie-razmer-1 {
   margin: 0px 0px 50px 0px;
   }
   .block-2-block-img-1 {
      width: 285px;
  }
  .main__content-block-2 {
   grid-template-columns: 285px;
   grid-template-rows: 543px;
   }  
   .content-block-2-block {
      max-width: 374px;
      max-height: 600px;
   }
   .block-content-content-razmer {
      margin: 0px 0px 14px 0px;
   }
   .block-content-polosa {
      width: 288px;
      margin-top: 26px;
   }
   .otpravka-mail-otpravka {
      max-width: 100px;
   }
   .bistriy-silka-blok-1 {
      padding: 0px 71px 0px 0px;
   }
   .otpravka-mail-zapolnenie-img-1 {
      display: none;
   }
   .block-content {
      grid-template-rows: 224px 201px 400px;
      grid-template-columns: 303px;
   }
   .block-content-polosa-1{
      margin-top: 231px;
   }
   .footer {
      max-height: 739px;
   }

}

